body {
   display: flex;
   justify-content: center;
   background-color: darkgrey;
}

.container {
   display: flex;
   flex-direction: column;
   width: 700px;
   height: 700px;
   flex-shrink: 0;
   align-items: stretch;
}

.options {
	display: flex;
	flex-direction: column;
}

.row {
   display: flex;
   flex-grow: 1;
}

.box {
   border: 1px solid black;
   background-color: white;
   filter: brightness(100%);
   flex-grow: 1;
   flex-shrink: 1;
}


